.sidebar-main {
	position: fixed;
}

.sidebar-main .nav>.active:focus>a, .sidebar-main .nav>.active:hover>a, .sidebar-main .nav>.active>a {
	background-color: #eee;
}

.view-main {
	margin-top: 60px;
}

.view-admin {
	margin-top: -16px;
}

.input-group-btn select {
	border-color: #ccc;
	background: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.list-item-remove {
	display:inline-block;
	float:right;
}

/* superselect */
.superselect {
	min-width: 50%;
}

.btn-delete-superoption {
	vertical-align: top;
}

/* Modal */
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
}

.modal-backdrop.am-fade .ng-enter {
	opacity: 0;
}

.modal-backdrop.am-fade .ng-enter .ng-enter-active {
	opacity: .5;
}

.modal-backdrop.am-fade .ng-leave {
	opacity: .5;
}

.modal-backdrop.am-fade .ng-leave .ng-leave-active {
	opacity: 0;
}
