/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}

/* Views */
.view-main {
}

.view-admin {
}

.admin-main {
	padding-left: 40px;
	padding-right: 40px;
}

/* Sidebar */
.sidebar {
}

/* When screen is wide enough, fix sidebar to left side */
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

.nav-sidebar {
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -21px;
}

.nav-sidebar>.active>a {
	background-color: #eee;
}

.nav-sidebar>.active:focus>a, .nav-sidebar>.active:hover>a {

}

/* Form */
.input-group-btn select {
	border-color: #ccc;
	background: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
}

/* Misc */
.list-item-remove {
	display: inline-block;
	float: right;
}

.page-header {
	margin-top: 0;
}

/* Requirement */
.requirement {
	margin: 0 0 12px 0;
}

.requirement .requirement {
	margin: 12px 0;
}

.all-or-any-requirement {

}

.course-requirement {

}

.course-group-requirement {

}

.requirement .btn {
	margin: 0 1px;
}

.requirement .form-control {
	margin: 0 1px;
}

.requirement ul {
	list-style: none;
	margin: 0;
}

.sortable-requirements {
	
}

/* superselect */
.superselect {
	min-width: 50%;
}

.btn-delete-superoption {
	vertical-align: top;
}

/* Modal */
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
}

.modal-backdrop.am-fade .ng-enter {
	opacity: 0;
}

.modal-backdrop.am-fade .ng-enter .ng-enter-active {
	opacity: .5;
}

.modal-backdrop.am-fade .ng-leave {
	opacity: .5;
}

.modal-backdrop.am-fade .ng-leave .ng-leave-active {
	opacity: 0;
}
