/* Sidebar */
.sidebar-main {
	position: fixed;
}

.sidebar-main .nav>.active>a {
	background-color: #eee;
}

.sidebar-main .nav>.active:focus>a, .sidebar-main .nav>.active:hover>a {

}

/* Views */
.view-main {
	margin-top: 60px;
}

.view-admin {
	margin-top: -16px;
}

/* Form */
.input-group-btn select {
	border-color: #ccc;
	background: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
}

/* Misc */
.list-item-remove {
	display: inline-block;
	float: right;
}

/* Requirement */
.requirement {
	margin: 4px 0;
}

.all-or-any-requirement {
	margin: 8px 0;
}

.requirement .btn {
	margin: 0 1px;
}

.requirement .form-control {
	margin: 0 1px;
}

.requirement ul {
	list-style: none;
}

/* superselect */
.superselect {
	min-width: 50%;
}

.btn-delete-superoption {
	vertical-align: top;
}

/* Modal */
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
}

.modal-backdrop.am-fade .ng-enter {
	opacity: 0;
}

.modal-backdrop.am-fade .ng-enter .ng-enter-active {
	opacity: .5;
}

.modal-backdrop.am-fade .ng-leave {
	opacity: .5;
}

.modal-backdrop.am-fade .ng-leave .ng-leave-active {
	opacity: 0;
}
