<h2>Edit Course Group</h2>
<form name="editCourseGroupForm" role="form">
	<div class="form-group">
		<label for="courseGroupName">Name of course group</label>
		<input class="form-control input" type="text" id="courseGroupName" name="courseGroupName"
			ng-model="courseGroupName" placeholder="e.g. Technical Electives" required autofocus>
	</div>
	<div class="form-group">
		<label for="courses">Courses</label>
		<textarea rows="8" class="form-control input" id="courses" name="courses"
			ng-model="courses" placeholder="e.g. CS 573"></textarea>
	</div>
	<button type="submit" class="btn btn-success">
		Save Course Group
	</button>
</form>
