<h2>Edit Course Group</h2>
<form class="form-horizontal" name="editCourseGroupForm" role="form">
	<div class="form-group">
		<label for="courseGroupName" class="col-sm-2 control-label">Name of course group</label>
		<div class="col-sm-5">
			<input class="form-control input" type="text" id="courseGroupName" name="courseGroupName"
				ng-model="courseGroupName" placeholder="e.g. Technical Electives" required autofocus>
		</div>
	</div>
	<div class="form-group">
		<label for="addCourse" class="col-sm-2 control-label">Add Course</label>
		<div class="col-sm-5">
			<input class="form-control input" type="text" id="courseToAdd" name="courseToAdd"
				ng-model="courseToAdd" placeholder="e.g. CS 284" ng-enter="addCourse(courseToAdd); courseToAdd='';">
		</div>
	</div>
	<div class="form-group">
		<label for="courses" class="col-sm-2 control-label">Courses</label>
		<div class="col-sm-5">
			<select multiple style="min-width: 50%">
				<option ng-repeat="course in courses" value="{{ course.name }}">{{ course.name }}</option>
				<option></option>
			</select>
			<button type="button" class="btn btn-danger" style="vertical-align: top;">X</button>
		</div>
	</div>
	<button type="submit" class="btn btn-success">Save Course Group</button>
	<a class="btn btn-link" ui-sref="admin.course-groups.list">Cancel</button>
</form>
