<div class="page-header">
	<h1>Courses</h1>
</div>
<a ui-sref="admin.courses.add" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Course</a>
<table class="table table-responsive" ng-table="courseTableParams">
	<tr ng-repeat="course in $data">
		<td data-title="'Number'" sortable="'number'">{{ course.prefix }} {{ course.number }}</td>
		<td data-title="'Name'">{{ course.name }}</td>
		<td data-title="'Action'"><a ui-sref="admin.courses.edit({ courseId: {{ course.id }} })">Edit</a> | <a href="javascript:void(0)" class="" data-animation="am-fade-and-scale" data-placement="center" data-template="views/admin/courses/delete-course.html" bs-modal="deleteModal">Delete</a></td>
	</tr>
</table>
