<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title ng-binding" ng-bind-html="title">{{ title }}</h4>
			</div>
			<div class="modal-body" ng-show="content">
				<p ng-bind-html="content" class="ng-binding">{{ content }}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">No</button>
				<button type="button" class="btn btn-danger" ng-click="$hide()">Yes, delete</button>
			</div>
		</div>
	</div>
</div>
