<div class="page-header">
    <h1>Study Plan Builder</h1>
</div>
<form class="form-horizontal" name="studyPlanForm" role="form" ng-submit="generateStudyPlan()">
    <div class="form-group">
        <label for="degree" class="col-sm-2 control-label">Degrees</label>
        <div class="col-sm-5" style="min-width: 115px">
            <select class="form-control" ng-model="selectedDegree">
                <option ng-repeat="degree in degrees">{{ degree.name }}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="coursesTaken" class="col-sm-2 control-label">Courses Taken</label>
        <div class="col-sm-4">
		<!--
            <input class="form-control input" type="text" id="courseToAdd" name="courseToAdd"
                   ng-model="courseToAdd" placeholder="e.g. CS 284" ng-options="course for course in allCourses" bs-typeahead data-placement="bottom-left" data-min-length="0" ng-enter="addCourse();">
            <ul style="list-style: none; padding: 0;" ng-model="newCourseGroup.courses">
                <li ng-repeat="course in newCourseGroup.courses">
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="course">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="deleteCourse($index);"><span class="glyphicon glyphicon-remove"></span></button>
						</span>
                    </div>
                </li>
            </ul>
-->
		<ul style="width: 100%; height: 250px; overflow-y: scroll; list-style-type: none;">
			<li ng-repeat="course in courses">
			<label for="{{ course }}">{{ course }}</label>
			<input style="position: relative; top: 3px;" type="checkbox" name="{{ course }}" value="{{ course }}">
			</li>
		</ul>
        </div>
		<!--
        <div class="col-sm-2">
            <button class="btn btn-success" type="button" >Add To List</button>
        </div>
		-->
    </div>

    <div class="form-group">
        <label for="beginning" class="col-sm-2 control-label">Beginning Semester</label>
        <div class="col-sm-2">
            <select class="form-control" ng-model="selectedBeginningSemester">
                <option ng-repeat="semester in semesters">{{ semester }}</option>
            </select>
        </div>
        <div class="col-sm-2" style="min-width: 115px">
            <select class="form-control" ng-model="selectedBeginningYear">
                <option ng-repeat="year in years">{{ year }}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="graduation" class="col-sm-2 control-label">Expected Graduation Semester</label>
        <div class="col-sm-2">
            <select class="form-control" ng-model="selectedGraduationSemester">
                <option ng-repeat="semester in semesters">{{ semester }}</option>
            </select>
        </div>
        <div class="col-sm-2" style="min-width: 115px">
            <select class="form-control" ng-model="selectedGraduationYear">
                <option ng-repeat="year in years">{{ year }}</option>
            </select>
        </div>
    </div>

<!-- Credits per semester -->
<hr />
<h1>Credits For:</h1>
<div class="form-group">
        <label for="graduation" class="col-sm-2 control-label">Fall 2015</label>
        <div class="col-sm-2" style="min-width: 115px">
            <input type="text" placeholder="Credits" class="form-control" />
	</div>
	<div class="col-sm-2">
		<input type="checkbox" id="oncampus" /> <label for="oncampus"> On Campus</label><br />
		<input type="checkbox" id="web" /> <label for="web"> WebCampus</label>
	</div>
    </div>

<hr />

<div class="form-group">
        <label for="graduation" class="col-sm-2 control-label">Spring 2016</label>
        <div class="col-sm-2" style="min-width: 115px">
            <input type="text" placeholder="Credits" class="form-control" />
	</div>
	<div class="col-sm-2">
		<input type="checkbox" id="oncampus" /> <label for="oncampus"> On Campus</label><br />
		<input type="checkbox" id="web" /> <label for="web"> WebCampus</label>
	</div>
    </div>

<hr />

<div class="form-group">
        <label for="graduation" class="col-sm-2 control-label">Fall 2016</label>
        <div class="col-sm-2" style="min-width: 115px">
            <input type="text" placeholder="Credits" class="form-control" />
	</div>
	<div class="col-sm-2">
		<input type="checkbox" id="oncampus" /> <label for="oncampus"> On Campus</label><br />
		<input type="checkbox" id="web" /> <label for="web"> WebCampus</label>
	</div>
    </div>

<hr />

<div class="form-group">
        <label for="graduation" class="col-sm-2 control-label">Spring 2017</label>
        <div class="col-sm-2" style="min-width: 115px">
            <input type="text" placeholder="Credits" class="form-control" />
	</div>
	<div class="col-sm-2">
		<input type="checkbox" id="oncampus" /> <label for="oncampus"> On Campus</label><br />
		<input type="checkbox" id="web" /> <label for="web"> WebCampus</label>
	</div>
    </div>

<hr />

<div class="form-group">
        <label for="graduation" class="col-sm-2 control-label">Fall 2017</label>
        <div class="col-sm-2" style="min-width: 115px">
            <input type="text" placeholder="Credits" class="form-control" />
	</div>
	<div class="col-sm-2">
		<input type="checkbox" id="oncampus" /> <label for="oncampus"> On Campus</label><br />
		<input type="checkbox" id="web" /> <label for="web"> WebCampus</label>
	</div>
    </div>

<hr />

<div class="form-group">
        <label for="graduation" class="col-sm-2 control-label">Spring 2018</label>
        <div class="col-sm-2" style="min-width: 115px">
            <input type="text" placeholder="Credits" class="form-control" />
	</div>
	<div class="col-sm-2">
		<input type="checkbox" id="oncampus" /> <label for="oncampus"> On Campus</label><br />
		<input type="checkbox" id="web" /> <label for="web"> WebCampus</label>
	</div>
    </div>

<hr />

<div class="form-group">
        <label for="graduation" class="col-sm-2 control-label">Fall 2018</label>
        <div class="col-sm-2" style="min-width: 115px">
            <input type="text" placeholder="Credits" class="form-control" />
	</div>
	<div class="col-sm-2">
		<input type="checkbox" id="oncampus" /> <label for="oncampus"> On Campus</label><br />
		<input type="checkbox" id="web" /> <label for="web"> WebCampus</label>
	</div>
    </div>

<hr />

<div class="form-group">
        <label for="graduation" class="col-sm-2 control-label">Spring 2019</label>
        <div class="col-sm-2" style="min-width: 115px">
            <input type="text" placeholder="Credits" class="form-control" />
	</div>
	<div class="col-sm-2">
		<input type="checkbox" id="oncampus" /> <label for="oncampus"> On Campus</label><br />
		<input type="checkbox" id="web" /> <label for="web"> WebCampus</label>
	</div>
    </div>

<hr />

    </br>
    <button type="submit" class="btn btn-success">Generate Study Plan</button>
    <a class="btn btn-link" ui-sref="admin.courses.list">Cancel</a>
</form>
