<div class="row">
	<div class="col-sm-2 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li ui-sref-active="active"><a ui-sref=".dashboard">Dashboard</a></li>
			<li ui-sref-active="active"><a ui-sref=".courses">Courses</a></li>
			<li ui-sref-active="active"><a ui-sref=".course-groups">Course Groups</a></li>
			<li ui-sref-active="active"><a ui-sref=".degrees">Degrees</a></li>
			<!--<li ui-sref-active="active"><a ui-sref=".help">Help</a></li>-->
		</ul>
	</div>
	<div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 admin-main">
		<div class="view-admin" ui-view></div>
	</div>
</div>
