<div class="row">
	<div class="col-sm-2">
		<div class="sidebar-main">
			<ul class="nav">
				<li ui-sref-active="active"><a ui-sref=".dashboard">Dashboard</a></li>
				<li ui-sref-active="active"><a ui-sref=".courses">Courses</a></li>
				<li ui-sref-active="active"><a ui-sref=".course-groups">Course Groups</a></li>
				<li ui-sref-active="active"><a ui-sref=".degrees">Degrees</a></li>
				<!--<li ui-sref-active="active"><a ui-sref=".help">Help</a></li>-->
			</ul>
		</div>
	</div>
	<div class="col-sm-10">
		<div class="view-admin" ui-view></div>
	</div>
</div>
