<div class="container">
	<tabs data-type="nav-pills">
		<pane title="Course Groups">
			<h2>Course Groups</h2>
			<p>TODO - list course groups</p>
		</pane>
		<pane title="Add Course Group">
			<div ng-include src="'/views/admin/course-groups/add-course-group.html'"></div>
		</pane>
		<pane title="Edit Course Group">
			<div ng-include src="'/views/admin/course-groups/edit-course-group.html'"></div>
		</pane>
		<pane title="Delete Course Group">
			<div ng-include src="'/views/admin/course-groups/delete-course-group.html'"></div>
		</pane>
	</tabs>
</div>
