<div class="container" style="padding-top: 10px">
	<tabs data-type="nav-pills">
		<pane title="Courses">
			<div ng-include src="'/views/admin/courses/list-course.html'"></div>
		</pane>
		<pane title="Add Course">
			<div ng-include src="'/views/admin/courses/add-course.html'"></div>
		</pane>
		<pane title="Edit Course">
			<div ng-include src="'/views/admin/courses/edit-course.html'"></div>
		</pane>
		<pane title="Delete Course">
			<div ng-include src="'/views/admin/courses/delete-course.html'"></div>
		</pane>
	</tabs>
</div>
