<div class="container" style="padding-top: 10px">
	<tabs data-type="nav-pills">
		<pane title="Degrees">
			<h2>Degrees</h2>
			<p>TODO - list degrees</p>
		</pane>
		<pane id="add" title="Add Degree">
			<div ng-include src="'/views/admin/degrees/add-degree.html'"></div>
		</pane>
		<pane id="edit" title="Edit Degree">
			<div ng-include src="'/views/admin/degrees/edit-degree.html'"></div>
		</pane>
		<pane id="delete" title="Delete Degree">
			<div ng-include src="'/views/admin/degrees/delete-degree.html'"></div>
		</pane>
	</tabs>
</div>
