<div class="page-header">
	<h1>Degrees</h1>
</div>
<a ui-sref="admin.degrees.add" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Degree</a>
<table class="table table-responsive">
	<thead>
		<tr>
			<th>Degree Name</th>
			<th>Degree Path</th>
			<th>For students entering in...</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="degree in degrees">
			<td>{{ degree.name }}</td>
			<td>Starting with {{ degree.startingWith }}</td>
			<td>{{ degree.semester }}</td>
			<td><a ui-sref="admin.degrees.details({ degreeID: 0})">Details</a> | <a ui-sref="admin.degrees.edit({ degreeId: 0 })">Edit</a> | <a href="javascript:void(0)" class="" data-animation="am-fade-and-scale" data-placement="center" data-template="views/admin/degrees/delete-degree.html" bs-modal="deleteModal">Delete</a></td>
		</tr>
	</tbody>
</table>
