<h2>Computer Science program for students starting in Fall 2015 with CS 115</h2>
<div class="container">
	This degree requires the student to take <span class="label label-success">all</span> of the CS Core classes.
	<ol>
		<li>Introduction to Computer Science (CS115)</li>
		<li>Data Structures (CS284)</li>
		<li>Systems Programming (CS392)</li>
		<li>Software Development Process (CS347)</li>
		<li>Concurrent Programming (CS511)</li>
		<li>Operating Systems (CS492)</li>
		<li>Automata and Computation (CS334)</li>
	</ol>
</div>
<div class="container">
	This degree requires the student to take <span class="label label-success">at least 1</span> of the Software Development Elective classes.
	<ol>
		<li>Web Programming (CS546)</li>
		<li>TCP/IP Networking (CS521)</li>
		<li>Interactive Computer Graphics (CS537)</li>
		<li>Distributed and Cloud Computing (CS549)</li>
		<li>Compiler Design (CS516)</li>
		<li>Computer Vision (CS558)</li>
	</ol>
</div>
<div class="container">
	This degree requires the student to take <span class="label label-success">the following</span> 300 Level Humanity Elective classes.
	<ol>
		<li>Science and the Media (HST320)</li>
		<li>Modern Literature (HLI312)</li>
		<li>Science Fiction (HLI316)</li>
	</ol>
</div>
