<h2>Edit Degree</h2>
<form class="form-horizontal" name="editDegreeForm" role="form">
	<div class="form-group">
		<label for="degreeDates" class="col-sm-2 control-label">This degree program is for students entering in</label>
		<div class="col-sm-5">		
			<select size="1">
				<option>Fall</option>
				<option>Spring</option>
			</select>
			<select size="1">
				<option>2015</option>
				<option>2016</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="degreeName" class="col-sm-2 control-label">Degree name</label>
		<div class="col-sm-5">		
			<input class="form-control input" type="text" id="degreeName" name="degreeName" 
			ng-model="degreeName" placeholder="e.g. Computer Science (CS)" required autofocus>
		</div>
	</div>
	<div class="form-group">
		<label for="degreePath" class="col-sm-2 control-label">Degree path</label>
		<div class="col-sm-5">
			<input class="form-control input" type="text" id="degreePath" name="degreePath"
			ng-model="degreePath" placeholder="e.g. Starting with CS 115" required>
		</div>
	</div>
	<div class="form-group">
		<label for="Requirements" class="col-sm-2 control-label">Requirements</label>
		<div class="col-sm-10">		
			<div ng-repeat="ReqGroup in reqs">
				<div style="display: inline;" ng-repeat="Req in ReqGroup">
					<div class="input-group" style="width: 30%; display: inline-table;">
						<span class="input-group-btn">
							<select style="display:inline; width:100px;" class="btn">
								<option>All</option>				
								<option>Any 1</option>
								<option>Any 2</option>
								<option>Any 3</option>
								<option>Any 4</option>
								<option>Any 5</option>								
								<option>Any 6</option>
								<option>Any 7</option>
								<option>Any 8</option>
								<option>Any 9</option>
								<option>Any 10</option>
							</select>
						</span>							
						<input style="display:inline; " class="form-control" placeholder="e.g. CS Core Classes" type="text">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"></span></button>
						</span>
					</div>
					<button style="display:inline; vertical-align: top;" type="button" class="btn btn-primary" ng-click="reqOr($parent.$index)">OR</button>			
				</div>
				<button style="display: block" type="button" class="btn btn-primary" ng-click="reqAnd()">AND</button>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-success">Save Degree</button>
	<a class="btn btn-link" ui-sref="admin.degrees.list">Cancel</button>
</form>
